// Colors
$themeColor: #537040;
$themeColorDark: #284518;
$themeColorLight: #809f6b;
$appTextColor: #4f5c65;
$appTextBoldColor: #353e44;
$appBorderColor: #dee2e6;
$appLightBorderColor: #eeeeee;
$iconColor: #b3b3b3;
$appWhite: #ffffff;
// Sizes
$menuSize: 240px;
$bannerHeight: 60px;
